@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@font-face {
    font-family: Didot;
    src: url(../fonts/Didot.otf);
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-family: Helvetica, sans-serif;
    *zoom: 1;
    position: relative;
    width: 100%;
    /*overflow: hidden;*/
}

a, a:focus, a:active, input {
    text-decoration: none;
    background-color: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.selected:after {
    content: '';
    position: absolute;
    left: 44%;
    width: 12%;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #a39468; 
}

header {
    font-size: 1.2em;
}

header, article {
    padding: 2%;
    font-family: 'Didot', times, serif;
    width: 96%;
    text-align: center;
}

footer {
    width: 100%;
    margin-top: 5% 0;
}

article, .lang, .fa {
    color: #a39468;
}

.fa {
    font-size: 1.3em;
    font-weight: lighter;
}

.fa-angle-left {
    display: none;
}

.fa-search {
    font-size: 1em;
}

.lang {
    float: left;
    width: 42%;
    padding: 4%;
    text-align: left;
    font-weight: lighter;
}

.lang:first-child {
    text-align: right;
}

menu {
    right: 0;
    top: 0;
    width: 92%;
    padding: 4%;
    margin-bottom: 20px;
}

#home {
    float: right;
}

img {
    display: block;
    width: 100%;
    margin: 5% auto;
}

.mobile-navigation {
    display: none;
    z-index: 1000;
    height: 200%;
    width: 100%;
    background-color: #fff;
    -webkit-transition-property: display;
    -moz-transition-property: display;
    -o-transition-property: display;
    transition-property: display;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.mobile-navigation table {
    width: 100%;
    border-spacing: 0;
}

.mobile-navigation input {
    border: none;
    border-bottom: 1px solid #a39468;
    width: 120px;
    border-radius: 0;
    font-size: 16px;
    margin-top: 30px;
}

.mobile-navigation table span {
    height: 20px;
    padding: 10px;
    margin-left: -30px;  
}

.mobile-navigation td {
    position: relative;
    right: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 2em;
    font-size: 1.3em;
    background-color: #fff;
}

.mobile-navigation td a {
    letter-spacing: 2px;
    font-weight: lighter;
    color: #a39468;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.inner {
    display: none;
    font-size: .9em;
}